/* .picture {
    width: 100%;
    height: 400px;
    background: #757373;
} */
  .silder-buldel h2.title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.silder-buldel .picture img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.silder-buldel .picture {
  
    height: 220px;
    background: #757373;
    border-radius: 5px;
    border: 1px solid #003769;
}
.silder-buldel .slick-slide{
    position: relative !important;
}
.item-grid {


    border-radius: 5px;
}
.silder-buldel .item-box{
    margin: 0 5px;
}
.silder-buldel .home-auto {
text-align: center;
margin: 20px 0;
font-size: 22px;
}
